{% extends 'index.html' %}
{% block question %}
<a href="/">Back to questions list</a>
<h2>{{ data['title'] }}</h2>
<table>
    <thead>
        <tr>
            <td>
                <h4>Submission Time</h4>
            </td>
            <td>
                <h4>View Number</h4>
            </td>
            <td>
                <h4>Vote Number</h4>
            </td>
            <td>
                <h4>Title</h4>
            </td>
            <td>
                <h4>Message</h4>
            </td>
            <td>
                <h4>Image</h4>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ data['submission_time'] }}</td>
            <td>{{ data['view_number'] }}</td>
            <td>{{ data['vote_number'] }}</td>
            <td>{{ data['title'] }}</td>
            <td>{{ data['message'] }}</td>
            <td>{{ data['image'] }}</td>
        </tr>
    </tbody>
</table><br><br>
<h3>Answers:</h3>
<table>
    <thead>
        <tr>
            <td>
                <h4>Submission Time</h4>
            </td>
            <td>
                <h4>Vote Number</h4>
            </td>
            <!--<td><h4>Question ID</h4></td>-->
            <td>
                <h4>Message</h4>
            </td>
            <td>
                <h4>Image</h4>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for answer in answers %}
        <tr>
            <td>{{ answer['submission_time'] }}</td>
            <td>{{ answer['vote_number'] }}</td>
            <td>{{ answer['question_id'] }}</td>
            <td>{{ answer['message'] }}</td>
            <td>{{ answer['image'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table><br><br><br><br><br>
<button type="button"><a href="/question/{{ id }}/new_answer">New Answer</a></button>
</body>
{% endblock %}
